<template>
    <form class="" :action="action" method="POST">
        <div class="field has-border--bottom">
            <label class="label">Name</label>
        </div>
        <div class="field is-horizontal">
            <div class="field-body">
                <div class="field">
                    <div class="control is-expanded has-icons-right">
                        <input
                            class="input"
                            id="first_name"
                            type="text"
                            placeholder="First name"
                            name="first_name"
                            required="required"
                            autocomplete="given-name"
                            autofocus="autofocus"
                            :class="{ 'is-danger': first_nameError }"
                            :value="first_name"
                        />
                        <span
                            class="icon is-small is-right"
                            v-if="first_nameError"
                        >
                            <i class="fas fa-exclamation-triangle"></i>
                        </span>
                        <p class="help is-danger" v-if="first_nameError">
                            {{ first_nameError }}
                        </p>
                    </div>
                </div>
                <div class="field">
                    <div class="control is-expanded has-icons-right">
                        <input
                            class="input"
                            id="last_name"
                            type="text"
                            placeholder="Last name"
                            name="last_name"
                            required="required"
                            autocomplete="family-name"
                            autofocus="autofocus"
                            :class="{ 'is-danger': last_nameError }"
                            :value="last_name"
                        />
                        <span
                            class="icon is-small is-right"
                            v-if="last_nameError"
                        >
                            <i class="fas fa-exclamation-triangle"></i>
                        </span>
                        <p class="help is-danger" v-if="last_nameError">
                            {{ last_nameError }}
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="field has-border--bottom">
            <label class="label">Information</label>
        </div>
        <div class="field is-horizontal">
            <div class="field-body">
                <div class="field">
                    <p class="control is-expanded has-icons-left">
                        <input
                            class="input"
                            id="citizen_id"
                            type="text"
                            placeholder="ID"
                            name="citizen_id"
                            autofocus="autofocus"
                            :value="citizen_id"
                        />
                        <span class="icon is-small is-left">
                            <i class="fas fa-id-card"></i>
                        </span>
                    </p>
                </div>
                <div class="field">
                    <p class="control is-expanded has-icons-left">
                        <input
                            class="input"
                            id="driver_license"
                            type="text"
                            placeholder="Driver's license"
                            name="driver_license"
                            autofocus="autofocus"
                            :value="driver_license"
                        />
                        <span class="icon is-small is-left">
                            <i class="fas fa-car"></i>
                        </span>
                    </p>
                </div>
                <div class="field">
                    <p class="control is-expanded has-icons-left">
                        <input
                            class="input"
                            id="place_of_birth"
                            type="text"
                            placeholder="Nacionality"
                            name="place_of_birth"
                            autofocus="autofocus"
                            :value="place_of_birth"
                        />
                        <span class="icon is-small is-left">
                            <i class="fas fa-flag"></i>
                        </span>
                    </p>
                </div>
                <div class="field">
                    <p class="control is-expanded has-icons-left">
                        <input
                            class="input"
                            id="birth_year"
                            type="text"
                            placeholder="Birth date"
                            name="birth_year"
                            autocomplete="bday-year"
                            autofocus="autofocus"
                            :value="birth_year"
                        />
                        <span class="icon is-small is-left">
                            <i class="fas fa-calendar"></i>
                        </span>
                    </p>
                </div>
            </div>
        </div>

        <div class="field is-horizontal">
            <div class="field-body">
                <div class="field">
                    <p class="control is-expanded has-icons-left">
                        <input
                            class="input"
                            id="profession"
                            type="text"
                            placeholder="Your occupation founded upon specialized educational training"
                            name="profession"
                            autofocus="autofocus"
                            :value="profession"
                        />
                        <span class="icon is-small is-left">
                            <i class="fas fa-user-graduate"></i>
                        </span>
                    </p>
                </div>
            </div>
        </div>

        <div class="field is-horizontal">
            <div class="field-body">
                <div class="field">
                    <div
                        class="control is-expanded has-icons-left has-icons-right"
                    >
                        <input
                            class="input"
                            id="phone_number"
                            type="text"
                            placeholder="Where companies can contact you"
                            name="phone_number"
                            autocomplete="tel"
                            autofocus="autofocus"
                            :value="phone_number"
                        />
                        <span class="icon is-small is-left">
                            <i class="fas fa-mobile"></i>
                        </span>
                    </div>
                </div>
                <div class="field">
                    <div
                        class="control is-expanded has-icons-left has-icons-right"
                    >
                        <input
                            class="input"
                            id="email"
                            type="email"
                            placeholder="Try to keep it seriuos"
                            name="email"
                            required="required"
                            autocomplete="email"
                            autofocus="autofocus"
                            :class="{ 'is-danger': emailError }"
                            :value="email"
                        />
                        <span class="icon is-small is-left">
                            <i class="fas fa-at"></i>
                        </span>
                        <span class="icon is-small is-right" v-if="emailError"
                            ><i class="fas fa-exclamation-triangle"></i
                        ></span>
                        <p class="help is-danger" v-if="emailError">
                            {{ emailError }}
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="field is-horizontal">
            <div class="field-body">
                <div class="field">
                    <p class="control is-expanded has-icons-left">
                        <input
                            class="input"
                            id="web"
                            type="text"
                            placeholder="Web page"
                            name="web"
                            autofocus="autofocus"
                            :value="web"
                        />
                        <span class="icon is-small is-left">
                            <i class="fas fa-globe"></i>
                        </span>
                    </p>
                </div>
                <div class="field">
                    <p class="control is-expanded has-icons-left">
                        <input
                            class="input"
                            id="git_user"
                            type="text"
                            placeholder="GIT User"
                            name="git_user"
                            autofocus="autofocus"
                            :value="git_user"
                        />
                        <span class="icon is-small is-left">
                            <i class="fas fa-code-branch"></i>
                        </span>
                    </p>
                </div>
            </div>
        </div>

        <div class="field has-border--bottom">
            <label class="label">Current residence</label>
        </div>
        <div class="field is-horizontal">
            <div class="field-body">
                <div class="field">
                    <p class="control is-expanded has-icons-left">
                        <input
                            class="input"
                            id="country"
                            type="text"
                            placeholder="Country"
                            name="country"
                            autocomplete="country-name"
                            autofocus="autofocus"
                            :value="country"
                        />
                        <span class="icon is-small is-left">
                            <i class="fas fa-globe-americas"></i>
                        </span>
                    </p>
                </div>
                <div class="field">
                    <p class="control is-expanded has-icons-left">
                        <input
                            class="input"
                            id="city"
                            type="text"
                            placeholder="State or province"
                            name="city"
                            autofocus="autofocus"
                            autocomplete="on"
                            :value="city"
                        />
                        <span class="icon is-small is-left">
                            <i class="fas fa-map"></i>
                        </span>
                    </p>
                </div>
            </div>
        </div>

        <div class="field is-horizontal">
            <div class="field-body">
                <div class="field">
                    <p class="control is-expanded">
                        <textarea
                            class="textarea has-fixed-size"
                            id="address"
                            placeholder="Other signs"
                            rows="4"
                            cols="50"
                            name="address"
                            autocomplete="address"
                            autofocus="street-address"
                            :value="address"
                        ></textarea>
                    </p>
                </div>
            </div>
        </div>

        <div class="field has-border--bottom">
            <label class="label">Professional profile</label>
        </div>
        <div class="field is-horizontal">
            <div class="field-body">
                <div class="field">
                    <p class="control is-expanded">
                        <textarea
                            class="textarea has-fixed-size"
                            id="profile"
                            placeholder="Brief summary of skills, strengths and key experiences"
                            rows="4"
                            cols="50"
                            name="profile"
                            autofocus="autofocus"
                            :value="profile"
                        ></textarea>
                    </p>
                </div>
            </div>
        </div>

        <div class="field has-border--bottom">
            <label class="label">Other knowledges</label>
        </div>
        <div class="field is-horizontal">
            <div class="field-body">
                <div class="field">
                    <p class="control is-expanded">
                        <textarea
                            class="textarea has-fixed-size"
                            id="knowledge"
                            placeholder="Informal learning, conferences, lectures and others"
                            rows="4"
                            cols="50"
                            name="knowledge"
                            autofocus="autofocus"
                            :value="knowledge"
                        ></textarea>
                    </p>
                </div>
            </div>
        </div>

        <!-- Buttom save -->
        <div class="field is-horizontal">
            <div class="field-label">
                <!-- Left empty for spacing -->
            </div>
            <div class="field-body">
                <div class="field is-grouped is-grouped-right">
                    <div class="control">
                        <button type="submit" class="button is-primary">
                            Save
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <input hidden="" name="_token" :value="csrfToken" />
        <input type="hidden" name="_method" value="PATCH" />
    </form>
</template>

<script lang="ts">
import { Component, Prop, Vue, PropSync } from "vue-property-decorator";

@Component
export default class FormPersonal extends Vue {
    @Prop() private csrfToken!: string;
    @Prop() private action!: string;
    @Prop() private email!: string;
    @Prop() private first_name!: string;
    @Prop() private last_name!: string;
    @Prop() private citizen_id!: string;
    @Prop() private driver_license!: string;
    @Prop() private place_of_birth!: string;
    @Prop() private birth_year!: string;
    @Prop() private phone_number!: string;
    @Prop() private web!: string;
    @Prop() private git_user!: string;
    @Prop() private country!: string;
    @Prop() private city!: string;
    @Prop() private address!: string;
    @Prop() private profession!: string;
    @Prop() private profile!: string;
    @Prop() private knowledge!: string;

    @Prop() private emailError!: string;
    @Prop() private first_nameError!: string;
    @Prop() private last_nameError!: string;
}
</script>

<style lang="scss"></style>
