<template>
    <form class="w-full" @submit.prevent="addEducation">
        <div class="field is-horizontal p-4">
            <div class="field-label is-normal">
                <label class="label">From</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div
                        class="control is-expanded has-icons-right has-icons-left"
                    >
                        <input
                            class="input select-month"
                            type="month"
                            id="bdaymonth"
                            name="bdaymonth"
                            v-model="education.startDate"
                            :class="{
                                'is-danger': erorrs.start_year,
                            }"
                        />
                        <span class="icon is-small is-left">
                            <i class="fas fa-calendar"></i>
                        </span>
                        <span
                            class="icon is-small is-right"
                            v-if="erorrs.start_year"
                        >
                            <i class="fas fa-exclamation-triangle"></i>
                        </span>
                        <div class="help is-danger" v-if="erorrs.start_year">
                            <ul
                                class="list-inside list-disc pl-2"
                                v-for="(error, index) in erorrs.start_year"
                                :key="index"
                            >
                                <li>{{ error }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="field-label">
                <!-- Left empty for spacing -->
            </div>
            <div class="field-label is-normal">
                <label class="label">To</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div
                        class="control is-expanded has-icons-right has-icons-left"
                    >
                        <input
                            class="input select-month"
                            type="month"
                            id="bdaymonth"
                            name="bdaymonth"
                            v-model="education.endDate"
                            :class="{
                                'is-danger': erorrs.finish_year,
                            }"
                        />
                        <span class="icon is-small is-left">
                            <i class="fas fa-calendar"></i>
                        </span>
                        <span
                            class="icon is-small is-right"
                            v-if="erorrs.finish_year"
                        >
                            <i class="fas fa-exclamation-triangle"></i>
                        </span>
                        <div class="help is-danger" v-if="erorrs.finish_year">
                            <ul
                                class="list-inside list-disc pl-2"
                                v-for="(error, index) in erorrs.finish_year"
                                :key="index"
                            >
                                <li>{{ error }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="field is-horizontal">
            <div class="field-body">
                <div class="field">
                    <div
                        class="control is-expanded has-icons-right has-icons-left"
                    >
                        <input
                            type="text"
                            placeholder="Obtained degree"
                            class="input"
                            v-model="education.degree"
                            :class="{
                                'is-danger': erorrs.degree,
                            }"
                        />
                        <span class="icon is-small is-left">
                            <i class="fas fa-user-graduate"></i>
                        </span>
                        <span
                            class="icon is-small is-right"
                            v-if="erorrs.degree"
                        >
                            <i class="fas fa-exclamation-triangle"></i>
                        </span>
                        <div class="help is-danger" v-if="erorrs.degree">
                            <ul
                                class="list-inside list-disc pl-2"
                                v-for="(error, index) in erorrs.degree"
                                :key="index"
                            >
                                <li>{{ error }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="field has-border--bottom">
            <label class="label">Educational institution </label>
        </div>
        <div class="field is-horizontal">
            <div class="field-body">
                <div class="field">
                    <div
                        class="control is-expanded has-icons-right has-icons-left"
                    >
                        <input
                            type="text"
                            placeholder="Name"
                            class="input"
                            :class="{
                                'is-danger': erorrs.institution_name,
                            }"
                            v-model="education.institution_name"
                        />
                        <span class="icon is-small is-left">
                            <i class="fas fa-university"></i>
                        </span>
                        <span
                            class="icon is-small is-right"
                            v-if="erorrs.institution_name"
                        >
                            <i class="fas fa-exclamation-triangle"></i>
                        </span>
                        <div
                            class="help is-danger"
                            v-if="erorrs.institution_name"
                        >
                            <ul
                                class="list-inside list-disc pl-2"
                                v-for="(error,
                                index) in erorrs.institution_name"
                                :key="index"
                            >
                                <li>{{ error }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <p class="control is-expanded has-icons-left">
                        <input
                            type="text"
                            placeholder="Website"
                            class="input"
                            v-model="education.institution_web"
                        />
                        <span class="icon is-small is-left">
                            <i class="fas fa-globe"></i>
                        </span>
                    </p>
                </div>
            </div>
        </div>
        <div class="field has-border--bottom">
            <label class="label">Degree description</label>
        </div>
        <div class="field is-horizontal">
            <div class="field-body">
                <div class="field">
                    <p class="control is-expanded">
                        <textarea
                            placeholder="What your degree allows you to exercise"
                            rows="4"
                            cols="50"
                            class="textarea has-fixed-size"
                            v-model="education.degree_description"
                        ></textarea>
                    </p>
                </div>
            </div>
        </div>
        <div class="field is-horizontal">
            <div class="field-label">
                <!-- Left empty for spacing -->
            </div>
            <div class="field-body">
                <div class="field is-grouped is-grouped-right">
                    <div class="control">
                        <button
                            class="button is-danger"
                            @click="cleanEducation"
                            type="reset"
                        >
                            Discard
                        </button>
                    </div>
                    <div class="control">
                        <button class="button is-primary" type="submit">
                            Save
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="timeline my-4" v-if="educations.length">
            <header class="timeline-header">
                <span class="tag is-medium-isprimary">{{ nowTag() }}</span>
            </header>

            <!-- Timeline item -->
            <div
                class="timeline-item"
                v-for="(item, index) in educations"
                :key="index"
            >
                <div class="timeline-marker"></div>
                <div class="timeline-content w-full">
                    <div class="flex justify-between w-full">
                        <div class="flex items-center flex-1 justify-start">
                            <p class="text-gray-800">
                                {{ item.start_month }}
                                {{ item.start_year }} -
                                {{ item.finish_month }}
                                {{ item.finish_year }}
                            </p>
                        </div>
                        <div
                            class="flex items-center justify-end text-gray-700"
                        >
                            <span
                                class="icon cursor-pointer hover:text-gray-900"
                                @click="editEducation(index)"
                            >
                                <i class="fas fa-pen"></i>
                            </span>
                            <span
                                class="icon cursor-pointer hover:text-gray-900"
                                @click="deleteEducation(index)"
                            >
                                <i class="fas fa-trash"></i>
                            </span>
                        </div>
                    </div>
                    <h4 class="text-gray-900 font-bold uppercase">
                        {{ item.degree }}
                    </h4>
                    <h5 class="text-gray-600">
                        {{ item.institution_name + " " }}
                        <a class="hover:text-gray-800">
                            {{ item.institution_web }}</a
                        >
                    </h5>
                    <p class="text-gray-500">
                        {{ item.degree_description }}
                    </p>
                </div>
            </div>

            <header class="timeline-header">
                <span class="tag is-medium-isprimary">{{ pastTag() }}</span>
            </header>
        </div>
    </form>
</template>

<script lang="ts">
import { Component, Prop, Vue, PropSync, Watch } from "vue-property-decorator";

interface Education {
    id: string;
    startDate: string;
    start_year: string;
    start_month: string;
    endDate: string;
    finish_year: string;
    finish_month: string;
    degree: string;
    institution_name: string;
    institution_web: string;
    degree_description: string;
    index: number;
}

@Component
export default class FormEducation extends Vue {
    @Prop() private urlBase!: string;
    @Prop() private educationsInitial!: string;

    erorrs: object = {};
    educations: Education[] = this.educationsInitial
        ? JSON.parse(this.educationsInitial)
        : new Array();
    tempEducation: Education = {
        id: "",
        startDate: "",
        start_year: "",
        start_month: "",
        endDate: "",
        finish_year: "",
        finish_month: "",
        degree: "",
        institution_name: "",
        institution_web: "",
        degree_description: "",
        index: 0,
    };
    education: Education = {
        id: "",
        startDate: "",
        start_year: "",
        start_month: "",
        endDate: "",
        finish_year: "",
        finish_month: "",
        degree: "",
        institution_name: "",
        institution_web: "",
        degree_description: "",
        index: 0,
    };
    months: string[] = new Array(
        "January",
        "February",
        "March",
        "April",
        "May",
        "June",
        "July",
        "August",
        "September",
        "October",
        "November",
        "December"
    );

    addEducation() {
        this.dateSelect();
        if (!this.education.id) {
            this.saveTempEducation();
            this.axios({
                method: "post",
                url: this.urlBase,
                data: this.education,
            })
                .then((response: any) => {
                    console.log(response);

                    if (response.status == 201) {
                        const educationServidor = response.data;
                        this.educations.push(educationServidor);
                        this.educations.sort(function (a, b) {
                            return (
                                parseInt(b.finish_year) -
                                parseInt(a.finish_year)
                            );
                        });
                        this.cleanEducation();
                        this.cleanErrors();
                    }
                })
                .catch((error) => {
                    if (error.response.status == 422) {
                        this.setErrors(error);
                        this.restoreTempEducation();
                    }
                });
        } else {
            this.axios({
                method: "patch",
                url: `${this.urlBase}/${this.education.id}`,
                data: this.education,
            })
                .then((response) => {
                    if (response.status == 200) {
                        this.educations.sort(function (a, b) {
                            return (
                                parseInt(b.finish_year) -
                                parseInt(a.finish_year)
                            );
                        });
                        this.educations[this.education.index] = this.education;
                        this.cleanEducation();
                        this.cleanErrors();
                    }
                })
                .catch((error) => {
                    if (error.response.status == 422) {
                        this.setErrors(error);
                        this.restoreTempEducation();
                    }
                });
        }
    }
    setErrors(error: any) {
        this.erorrs = error.response.data.errors;
    }
    cleanErrors() {
        this.erorrs = {};
    }

    deleteEducation(index: number) {
        this.axios({
            method: "delete",
            url: `${this.urlBase}/${this.educations[index].id}`,
        })
            .then(() => {
                this.educations.splice(index, 1);
            })
            .catch((error) => {
                console.log(error);
            });
    }

    editEducation(index: number) {
        this.erorrs = {};

        this.education = JSON.parse(JSON.stringify(this.educations[index]));
        this.education.index = index;

        this.education.startDate =
            this.education.start_year +
            "-" +
            this.monthNumber(this.education.start_month);

        this.education.endDate =
            this.education.finish_year +
            "-" +
            this.monthNumber(this.education.finish_month);
        this.saveTempEducation();
    }

    saveTempEducation() {
        this.tempEducation = JSON.parse(JSON.stringify(this.education));
    }
    restoreTempEducation() {
        this.education = this.tempEducation;
    }

    dateSelect() {
        var res = this.education.startDate.split("-", 2);
        this.education.start_year = res[0];
        this.education.start_month = this.month(parseInt(res[1]));

        res = this.education.endDate.split("-", 2);
        this.education.finish_year = res[0];
        this.education.finish_month = this.month(parseInt(res[1]));
    }

    month(month_number: number) {
        return this.months[month_number - 1];
    }
    monthNumber(month: string) {
        let x = 0;
        for (let i = 0; i < this.months.length; i++) {
            if (this.months[i] == month) {
                x = i + 1;
                if (x < 10) {
                    return "0" + x;
                }
                return x;
            }
        }
    }

    nowTag() {
        return this.educations[0].finish_year;
    }
    pastTag() {
        return this.educations[this.educations.length - 1].start_year;
    }

    cleanEducation() {
        this.cleanErrors();

        this.education = {
            id: "",
            startDate: "",
            start_year: "",
            start_month: "",
            endDate: "",
            finish_year: "",
            finish_month: "",
            degree: "",
            institution_name: "",
            institution_web: "",
            degree_description: "",
            index: 0,
        };
        this.tempEducation = {
            id: "",
            startDate: "",
            start_year: "",
            start_month: "",
            endDate: "",
            finish_year: "",
            finish_month: "",
            degree: "",
            institution_name: "",
            institution_web: "",
            degree_description: "",
            index: 0,
        };
    }
}
</script>

<style lang="scss"></style>
