<template>
    <form class="" :action="action" method="POST" enctype="multipart/form-data">
        <div class="columns is-centered">
            <div class="column is-half">
                <div class="field">
                    <p class="image">
                        <img
                            alt="Preview of uploaded picture."
                            class="has-ratio rounded-lg shadow-md border border-gray-300 antialiasedobject-cover"
                            :src="pictureProfile"
                        />
                    </p>
                </div>
            </div>
        </div>
        <div class="field">
            <div
                id="file-js-example"
                class="file has-name is-fullwidth is-right"
            >
                <label class="file-label">
                    <input
                        class="file-input"
                        accept="image/*"
                        type="file"
                        name="avatar"
                        id="avatarFile"
                        aria-describedby="fileHelp"
                        required
                        @change="previewPicture"
                    />
                    <span class="file-cta">
                        <span class="file-icon">
                            <i class="fas fa-upload"></i>
                        </span>
                        <span class="file-label">
                            Choose your picture...
                        </span>
                    </span>
                    <span class="file-name">
                        {{ temp_profile_picture.name }}
                    </span>
                </label>
            </div>
            <small
                id="fileHelp"
                class="text-gray-600 text-center flex justify-center"
                >Please upload a valid image file. Size of image should not be
                more than 2MB.
            </small>
        </div>

        <div class="field is-horizontal">
            <div class="field-label">
                <!-- Left empty for spacing -->
            </div>
            <div class="field-body">
                <div class="field is-grouped is-grouped-right">
                    <div class="control">
                        <button class="button is-danger is-rounded is-small">
                            Discard
                        </button>
                    </div>
                    <div class="control">
                        <button
                            type="submit"
                            class="button is-primary is-rounded is-small"
                        >
                            Save
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <input hidden="" name="_token" :value="csrfToken" />
    </form>
</template>

<script lang="ts">
import { Component, Prop, Vue, PropSync } from "vue-property-decorator";

interface Picture {
    name: string;
    url: string;
    file: any;
}

@Component
export default class FormPhoto extends Vue {
    @Prop() private csrfToken!: string;
    @Prop() private action!: string;
    @Prop() private image!: string;

    private temp_profile_picture: Picture = {
        name: "No file uploaded",
        url: "",
        file: null,
    };

    get pictureProfile() {
        if (this.image == null) {
            if (this.temp_profile_picture.url == "") {
                return "/storage/avatars/user.jpg";
            } else {
                return this.temp_profile_picture.url;
            }
        } else {
            if (this.temp_profile_picture.url == "") {
                return this.image;
            } else {
                return this.temp_profile_picture.url;
            }
        }
    }

    previewPicture(event: any) {
        let files = event.target.files;
        if (files.length > 0) {
            var reader = new FileReader();

            let component = this;
            reader.onload = function (e) {
                component.$data.temp_profile_picture.url = e.target!.result;
            };

            reader.readAsDataURL(files[0]);

            component.temp_profile_picture.name = files[0].name;
            component.temp_profile_picture.file = files[0];
        }
    }
    discardPreviewPicture() {
        this.temp_profile_picture.name = "No file uploaded";
        this.temp_profile_picture.url = "";
        this.temp_profile_picture.file = null;
    }
}
</script>

<style lang="scss"></style>
