<template>
    <form class="w-full" @submit.prevent="addExperience">
        <div class="field is-horizontal p-6">
            <div class="field-label is-normal">
                <label class="label">From</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div
                        class="control is-expanded has-icons-right has-icons-left"
                    >
                        <input
                            class="input select-month"
                            type="month"
                            id="bdaymonth"
                            name="bdaymonth"
                            v-model="experience.startDate"
                            :class="{
                                'is-danger': erorrs.start_year,
                            }"
                        />
                        <span class="icon is-small is-left">
                            <i class="fas fa-calendar"></i>
                        </span>
                        <span
                            class="icon is-small is-right"
                            v-if="erorrs.start_year"
                        >
                            <i class="fas fa-exclamation-triangle"></i>
                        </span>
                        <div class="help is-danger" v-if="erorrs.start_year">
                            <ul
                                class="list-inside list-disc pl-2"
                                v-for="(error, index) in erorrs.start_year"
                                :key="index"
                            >
                                <li>{{ error }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="field-label">
                <!-- Left empty for spacing -->
            </div>
            <div class="field-label is-normal">
                <label class="label">To</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div
                        class="control is-expanded has-icons-right has-icons-left"
                    >
                        <input
                            class="input select-month"
                            type="month"
                            id="bdaymonth"
                            name="bdaymonth"
                            v-model="experience.endDate"
                            :class="{
                                'is-danger': erorrs.finish_year,
                            }"
                        />
                        <span class="icon is-small is-left">
                            <i class="fas fa-calendar"></i>
                        </span>
                        <span
                            class="icon is-small is-right"
                            v-if="erorrs.finish_year"
                        >
                            <i class="fas fa-exclamation-triangle"></i>
                        </span>
                        <div class="help is-danger" v-if="erorrs.finish_year">
                            <ul
                                class="list-inside list-disc pl-2"
                                v-for="(error, index) in erorrs.finish_year"
                                :key="index"
                            >
                                <li>{{ error }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="field is-horizontal">
            <div class="field-body">
                <div class="field">
                    <div
                        class="control is-expanded has-icons-right has-icons-left"
                    >
                        <input
                            type="text"
                            placeholder="Your position in the company"
                            class="input"
                            v-model="experience.position"
                            :class="{
                                'is-danger': erorrs.position,
                            }"
                        />
                        <span class="icon is-small is-left">
                            <i class="fas fa-user-tie"></i>
                        </span>
                        <span
                            class="icon is-small is-right"
                            v-if="erorrs.position"
                        >
                            <i class="fas fa-exclamation-triangle"></i>
                        </span>
                        <div class="help is-danger" v-if="erorrs.position">
                            <ul
                                class="list-inside list-disc pl-2"
                                v-for="(error, index) in erorrs.position"
                                :key="index"
                            >
                                <li>{{ error }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="field has-border--bottom">
            <label class="label">Company information</label>
        </div>
        <div class="field is-horizontal">
            <div class="field-body">
                <div class="field">
                    <div
                        class="control is-expanded has-icons-right has-icons-left"
                    >
                        <input
                            type="text"
                            placeholder="Name"
                            class="input"
                            :class="{
                                'is-danger': erorrs.company_name,
                            }"
                            v-model="experience.company_name"
                        />
                        <span class="icon is-small is-left">
                            <i class="fas fa-building"></i>
                        </span>
                        <span
                            class="icon is-small is-right"
                            v-if="erorrs.company_name"
                        >
                            <i class="fas fa-exclamation-triangle"></i>
                        </span>
                        <div class="help is-danger" v-if="erorrs.company_name">
                            <ul
                                class="list-inside list-disc pl-2"
                                v-for="(error, index) in erorrs.company_name"
                                :key="index"
                            >
                                <li>{{ error }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <p class="control is-expanded has-icons-left">
                        <input
                            type="text"
                            placeholder="Website"
                            class="input"
                            v-model="experience.company_web"
                        />
                        <span class="icon is-small is-left">
                            <i class="fas fa-globe"></i>
                        </span>
                    </p>
                </div>
            </div>
        </div>
        <div class="field has-border--bottom">
            <label class="label">Job description</label>
        </div>
        <div class="field is-horizontal">
            <div class="field-body">
                <div class="field">
                    <p class="control is-expanded">
                        <textarea
                            placeholder="What the position requires to do"
                            rows="4"
                            cols="50"
                            class="textarea has-fixed-size"
                            v-model="experience.job_description"
                        ></textarea>
                    </p>
                </div>
            </div>
        </div>
        <div class="field is-horizontal">
            <div class="field-label">
                <!-- Left empty for spacing -->
            </div>
            <div class="field-body">
                <div class="field is-grouped is-grouped-right">
                    <div class="control">
                        <button
                            class="button is-danger"
                            @click="cleanExperience"
                            type="reset"
                        >
                            Discard
                        </button>
                    </div>
                    <div class="control">
                        <button class="button is-primary" type="submit">
                            Save
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="timeline my-4" v-if="experiences.length">
            <header class="timeline-header">
                <span class="tag is-medium-isprimary">{{ nowTag() }}</span>
            </header>

            <!-- Timeline item -->
            <div
                class="timeline-item"
                v-for="(item, index) in experiences"
                :key="index"
            >
                <div class="timeline-marker"></div>
                <div class="timeline-content w-full">
                    <div class="flex justify-between w-full">
                        <div class="flex items-center flex-1 justify-start">
                            <p class="text-gray-800">
                                {{ item.start_month }}
                                {{ item.start_year }} -
                                {{ item.finish_month }}
                                {{ item.finish_year }}
                            </p>
                        </div>
                        <div
                            class="flex items-center justify-end text-gray-700"
                        >
                            <span
                                class="icon cursor-pointer hover:text-gray-900"
                                @click="editExperience(index)"
                            >
                                <i class="fas fa-pen"></i>
                            </span>
                            <span
                                class="icon cursor-pointer hover:text-gray-900"
                                @click="deleteExperience(index)"
                            >
                                <i class="fas fa-trash"></i>
                            </span>
                        </div>
                    </div>
                    <h4 class="text-gray-900 font-bold uppercase">
                        {{ item.position }}
                    </h4>
                    <h5 class="text-gray-600">
                        {{ item.company_name + " " }}
                        <a class="hover:text-gray-800">
                            {{ item.company_web }}</a
                        >
                    </h5>
                    <p class="text-gray-500">
                        {{ item.job_description }}
                    </p>
                </div>
            </div>

            <header class="timeline-header">
                <span class="tag is-medium-isprimary">{{ pastTag() }}</span>
            </header>
        </div>
    </form>
</template>

<script lang="ts">
import { Component, Prop, Vue, PropSync, Watch } from "vue-property-decorator";

interface Experience {
    id: string;
    startDate: string;
    start_year: string;
    start_month: string;
    endDate: string;
    finish_year: string;
    finish_month: string;
    position: string;
    company_name: string;
    company_web: string;
    job_description: string;
    index: number;
}

@Component
export default class FormExperience extends Vue {
    @Prop() private urlBase!: string;
    @Prop() private experiencesInitial!: string;

    erorrs: object = {};
    experiences: Experience[] = this.experiencesInitial
        ? JSON.parse(this.experiencesInitial)
        : new Array();
    tempExperience: Experience = {
        id: "",
        startDate: "",
        start_year: "",
        start_month: "",
        endDate: "",
        finish_year: "",
        finish_month: "",
        position: "",
        company_name: "",
        company_web: "",
        job_description: "",
        index: 0,
    };
    experience: Experience = {
        id: "",
        startDate: "",
        start_year: "",
        start_month: "",
        endDate: "",
        finish_year: "",
        finish_month: "",
        position: "",
        company_name: "",
        company_web: "",
        job_description: "",
        index: 0,
    };
    months: string[] = new Array(
        "January",
        "February",
        "March",
        "April",
        "May",
        "June",
        "July",
        "August",
        "September",
        "October",
        "November",
        "December"
    );

    addExperience() {
        this.dateSelect();
        if (!this.experience.id) {
            this.saveTempExperience();
            this.axios({
                method: "post",
                url: this.urlBase,
                data: this.experience,
            })
                .then((response: any) => {
                    console.log(response);

                    if (response.status == 201) {
                        const experienceServidor = response.data;
                        this.experiences.push(experienceServidor);
                        this.experiences.sort(function (a, b) {
                            return (
                                parseInt(b.finish_year) -
                                parseInt(a.finish_year)
                            );
                        });
                        this.cleanExperience();
                        this.cleanErrors();
                    }
                })
                .catch((error) => {
                    if (error.response.status == 422) {
                        this.setErrors(error);
                        this.restoreTempExperience();
                    }
                });
        } else {
            this.axios({
                method: "patch",
                url: `${this.urlBase}/${this.experience.id}`,
                data: this.experience,
            })
                .then((response) => {
                    if (response.status == 200) {
                        this.experiences.sort(function (a, b) {
                            return (
                                parseInt(b.finish_year) -
                                parseInt(a.finish_year)
                            );
                        });
                        this.experiences[
                            this.experience.index
                        ] = this.experience;
                        this.cleanExperience();
                        this.cleanErrors();
                    }
                })
                .catch((error) => {
                    if (error.response.status == 422) {
                        this.setErrors(error);
                        this.restoreTempExperience();
                    }
                });
        }
    }
    setErrors(error: any) {
        this.erorrs = error.response.data.errors;
    }
    cleanErrors() {
        this.erorrs = {};
    }

    deleteExperience(index: number) {
        this.axios({
            method: "delete",
            url: `${this.urlBase}/${this.experiences[index].id}`,
        })
            .then(() => {
                this.experiences.splice(index, 1);
            })
            .catch((error) => {
                console.log(error);
            });
    }

    editExperience(index: number) {
        this.erorrs = {};

        this.experience = JSON.parse(JSON.stringify(this.experiences[index]));
        this.experience.index = index;

        this.experience.startDate =
            this.experience.start_year +
            "-" +
            this.monthNumber(this.experience.start_month);

        this.experience.endDate =
            this.experience.finish_year +
            "-" +
            this.monthNumber(this.experience.finish_month);
        this.saveTempExperience();
    }

    saveTempExperience() {
        this.tempExperience = JSON.parse(JSON.stringify(this.experience));
    }
    restoreTempExperience() {
        this.experience = this.tempExperience;
    }

    dateSelect() {
        var res = this.experience.startDate.split("-", 2);
        this.experience.start_year = res[0];
        this.experience.start_month = this.month(parseInt(res[1]));

        res = this.experience.endDate.split("-", 2);
        this.experience.finish_year = res[0];
        this.experience.finish_month = this.month(parseInt(res[1]));
    }

    month(month_number: number) {
        return this.months[month_number - 1];
    }
    monthNumber(month: string) {
        let x = 0;
        for (let i = 0; i < this.months.length; i++) {
            if (this.months[i] == month) {
                x = i + 1;
                if (x < 10) {
                    return "0" + x;
                }
                return x;
            }
        }
    }

    nowTag() {
        return this.experiences[0].finish_year;
    }
    pastTag() {
        return this.experiences[this.experiences.length - 1].start_year;
    }

    cleanExperience() {
        this.cleanErrors();

        this.experience = {
            id: "",
            startDate: "",
            start_year: "",
            start_month: "",
            endDate: "",
            finish_year: "",
            finish_month: "",
            position: "",
            company_name: "",
            company_web: "",
            job_description: "",
            index: 0,
        };
        this.tempExperience = {
            id: "",
            startDate: "",
            start_year: "",
            start_month: "",
            endDate: "",
            finish_year: "",
            finish_month: "",
            position: "",
            company_name: "",
            company_web: "",
            job_description: "",
            index: 0,
        };
    }
}
</script>

<style lang="scss"></style>
