// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
//@import 'variables';

// Bulma
@import "~bulma/bulma.sass";
@import "~bulma-timeline/dist/css/bulma-timeline.sass";

@tailwind base;

@tailwind components;

@tailwind utilities;

.btn {
    @apply bg-white text-gray-800 font-bold rounded border-b-2 border-gray-500  shadow-md py-1 px-4 inline-flex items-center;

    &:hover {
        @apply border-gray-600 bg-gray-500 text-white;
    }

    &--green {
        @apply border-green-500;

        &:hover {
            @apply border-green-600 bg-green-500;
        }
    }

    &--blue {
        @apply border-blue-500;

        &:hover {
            @apply border-blue-600 bg-blue-500;
        }
    }

    &:disabled,
    &--disabled,
    &--disabled:hover {
        @apply border-gray-500 text-gray-400 cursor-not-allowed bg-white pointer-events-none;
    }
}

#resume {
    @apply shadow-lg border border-gray-400;
    width: 816px;
    height: 1056px;
    min-width: 816px;
    min-height: 1056px;
    max-width: 816px;
    max-height: 1056px;
}
