<template lang="pug">
a.navbar-item(:href="url") {{text}}
</template>

<script lang="ts">
import { Component, Prop, Vue, PropSync } from "vue-property-decorator";

@Component
export default class NavbarItem extends Vue {
    @Prop() private text!: string;
    @Prop() private url!: string;
}
</script>

<style lang="scss"></style>
