<template>
    <nav
        class="navbar is-fixed-top"
        role="navigation"
        aria-label="main navigation"
    >
        <div class="navbar-brand">
            <slot name="brand"></slot>

            <div
                class="navbar-burger"
                @click="toggleMenu"
                :class="{ 'is-active': toggle }"
            >
                <navbar-burger></navbar-burger>
            </div>
        </div>

        <div
            id="navbarBasicExample"
            class="navbar-menu"
            :class="{ 'is-active': toggle }"
        >
            <div class="navbar-start">
                <slot name="start"></slot>
            </div>
            <div class="navbar-end">
                <slot name="end"></slot>
            </div>
        </div>
    </nav>
</template>

<script lang="ts">
import { Component, Prop, Vue, PropSync } from "vue-property-decorator";

@Component
export default class NavBar extends Vue {
    private toggle: boolean = false;

    toggleMenu(): void {
        this.toggle = !this.toggle;
    }
}
</script>

<style lang="scss"></style>
