<template lang="pug">
div.burger(role='button', aria-label='menu', aria-expanded='false', data-target='navbarBasicExample')
    span(aria-hidden='true')
    span(aria-hidden='true')
    span(aria-hidden='true')
</template>

<script lang="ts">
import { Component, Prop, Vue, PropSync } from "vue-property-decorator";

@Component
export default class NavbarBurger extends Vue {}
</script>

<style lang="scss"></style>
