<template>
    <button
        :class="{
            [`btn--${color}`]: color,
        }"
        class="btn"
        :type="type"
    >
        <slot></slot>
    </button>
</template>

<script lang="ts">
import { Component, Prop, Vue, PropSync } from "vue-property-decorator";

@Component
export default class AppButton extends Vue {
    @Prop() private color!: string;
    @Prop() private type!: string;
}
</script>

<style lang="scss"></style>
