<template>
    <a
        :href="url"
        :class="{
            'btn--disabled': !url || disabled,
            [`btn--${color}`]: color,
        }"
        class="btn"
    >
        <slot></slot>
    </a>
</template>

<script lang="ts">
import { Component, Prop, Vue, PropSync } from "vue-property-decorator";

@Component
export default class AppLinkButton extends Vue {
    @Prop() private color!: string;
    @Prop() private url!: string;
    @Prop() private disabled!: boolean;
}
</script>

<style lang="scss"></style>
