<template>
    <div class="flex bg-white shadow-lg rounded-lg overflow-hidden mb-3">
        <div class="w-2 bg-gray-700" :class="{ [`bg-${color}`]: color }"></div>
        <div class="flex items-center px-4 py-3">
            <slot></slot>
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Prop, Vue, PropSync } from "vue-property-decorator";

@Component
export default class AppMessage extends Vue {
    @Prop() private color!: string;
}
</script>

<style lang="scss"></style>
