<template>
    <div class="stepper mb-3">
        <div class="bg-white pt-4 pb-0 px-4 border-b border-gray-300 shadow-sm">
            <h3 class="text-center font-bold text-lg mb-2" v-if="title">
                {{ title }}
            </h3>

            <div class="stepper__indicators">
                <div
                    v-for="n in numSteps"
                    :key="n"
                    class="stepper__indicator"
                    :class="{
                        'stepper__indicator--active': n <= numCurrentStep,
                    }"
                >
                    <div
                        class="stepper__marker"
                        :class="{
                            'stepper__marker--active': n <= numCurrentStep,
                        }"
                    >
                        {{ n }}
                    </div>
                </div>
            </div>

            <div class="stepper__contents">
                <slot></slot>
            </div>
        </div>
        <div class="flex justify-between items-end px-4 py-2">
            <app-link-button color="blue" :url="previousUrl">
                Previous
            </app-link-button>

            <app-link-button :url="nextUrl" color="blue">Next</app-link-button>
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Prop, Vue, PropSync } from "vue-property-decorator";

@Component
export default class AppStepper extends Vue {
    @Prop() private previousUrl!: string;
    @Prop() private nextUrl!: string;

    @Prop() private title!: string;
    @Prop() private steps!: string;
    @Prop() private currentStep!: string;

    private numSteps: number = this.steps ? parseInt(this.steps) : 3;
    private numCurrentStep: number = this.currentStep
        ? parseInt(this.currentStep)
        : 1;
}
</script>

<style lang="scss">
.stepper {
    @apply bg-gray-200 border border-gray-400 shadow-md rounded overflow-hidden;

    &__indicators {
        @apply flex flex-wrap text-base;

        min-height: 1rem;
    }

    &__indicator {
        @apply relative top-0;
        flex-grow: 1;
        flex-basis: 0;

        &:not(:first-child)::before {
            @apply absolute block bottom-0 w-full h-1;
            left: -50%;
            top: 0.75rem;
            content: " ";
        }

        &::before {
            @apply bg-gray-300;
        }

        &--active {
            &::before {
                @apply bg-blue-300;
            }
        }
    }

    &__marker {
        @apply text-gray-600 text-center font-medium rounded-full shadow h-6 w-6 absolute;
        @apply flex items-center justify-center  bg-gray-300 z-10;

        left: calc(50% - 1rem);

        &--active {
            @apply bg-blue-500 text-white font-semibold;
        }
    }

    &__details {
        @apply mt-8 ml-2 mr-2 pt-1 text-center text-gray-700;
    }

    &__title {
        @apply text-base font-medium text-gray-800;
    }

    &__contents {
        @apply mt-4 mx-0 items-stretch;
        flex-basis: 100%;
    }
}
</style>
