<template>
    <button
        :class="{
            [`btn--${color}`]: color,
        }"
        class="btn"
        :type="type"
        @click="screenshot"
    >
        <slot>
            <div class="flex items-center justify-center">
                <span class="icon mr-2">
                    <i class="fas fa-camera"></i>
                </span>
                <span>Screenshot</span>
            </div>
        </slot>
    </button>
</template>

<script lang="ts">
import { Component, Prop, Vue, PropSync } from "vue-property-decorator";

@Component
export default class ButtonTake extends Vue {
    @Prop() private color!: string;
    @Prop() private type!: string;

    screenshot() {
        html2canvas(document.getElementById("resume"), {
            // width: 816,
            // height: 1056,
            // windowWidth: window.innerWidth,
            // windowHeight: window.innerHeight,
            // foreignObjectRendering: true,
            backgroundColor: null,
            // x: img!.offsetLeft,
            // y: img!.offsetTop,
            // scrollX: 100,
            // scrollY: 0,
            // imageTimeout: 3000,
            // removeContainer: true,
            // letterRendering: 1,
            // allowTaint: true,
            // useCORS: true,
            // logging: true,
            // canvas: document.getElementById("photoCanvas"),
        }).then((canvas) => {
            // var c = document.getElementById("photoCanvas");
            // var ctx = c!.getContext("2d");
            // var img = document.getElementById("photo");
            // let classimg = img!.className;
            // ctx.drawImage(
            //     img,
            //     img!.offsetLeft,
            //     img!.offsetTop - img!.height / 2,
            //     96,
            //     96
            // );

            const contentType = "image/jpeg";
            const base64ImageData = canvas.toDataURL(contentType);
            const image = new Image();
            image.src = base64ImageData;
            document.body.appendChild(image);
        });
    }
}
</script>

<style lang="scss"></style>
