<template lang="pug">
.container
    .title Laravel
    .subtitle Resume
</template>

<style lang="scss">
.link {
    color: red;

    &-active {
        color: green;
    }
}
</style>

<script>
export default {
    mounted() {
        console.log("Component mounted.");
    },
};
</script>
