<template>
    <form
        class="mb-4 bg-gray-200 border border-gray-400 shadow-md rounded overflow-hidden"
        :action="action"
        method="POST"
    >
        <header class="bg-white p-4 border-b border-gray-300 shadow-sm">
            <div class="font-bold text-center text-gray-800">
                Reset Password
            </div>
            <div class="field">
                <label class="label" for="email">Email</label>
                <div class="control has-icons-left has-icons-right">
                    <input
                        class="input"
                        id="email"
                        type="email"
                        name="email"
                        required
                        autocomplete="email"
                        placeholder="name@email.com"
                        :class="{ 'is-danger': emailError }"
                        :value="email"
                    /><span class="icon is-small is-left"
                        ><i class="fa fa-envelope"></i
                    ></span>
                    <span class="icon is-small is-right" v-if="emailError"
                        ><i class="fas fa-exclamation-triangle"></i
                    ></span>
                </div>
                <p class="help is-danger" v-if="emailError">{{ emailError }}</p>
            </div>
        </header>
        <div class="flex justify-end items-end px-4 py-2">
            <button
                class="bg-white text-gray-800 font-bold rounded border-b-2 border-green-500 hover:border-green-600 hover:bg-green-500 hover:text-white shadow-md py-1 px-4 inline-flex items-center"
                type="submit"
            >
                <span class="">Send Password Reset Link</span>
            </button>
        </div>
        <input hidden="" name="_token" :value="csrfToken" />
    </form>
</template>

<script lang="ts">
import { Component, Prop, Vue, PropSync } from "vue-property-decorator";

@Component
export default class SignUp extends Vue {
    @Prop() private csrfToken!: string;
    @Prop() private action!: string;
    @Prop() private email!: string;
    @Prop() private emailError!: string;
    @Prop() private passwordError!: string;
}
</script>

<style lang="scss"></style>
