<template>
    <form
        class="bg-gray-200 border border-gray-400 shadow-md rounded overflow-hidden"
        :action="action"
        method="POST"
    >
        <header class="bg-white p-4 border-b border-gray-300 shadow-sm">
            <div class="field">
                <label class="label" for="email">Email</label>
                <div class="control has-icons-left has-icons-right">
                    <input
                    
                        class="input"
                        id="email"
                        type="email"
                        placeholder="name@email.com"
                        name="email"
                        required="required"
                        autocomplete="email"
                        autofocus="autofocus"
                        :class="{ 'is-danger': emailError }"
                        :value="email"
                    /><span class="icon is-small is-left"
                        ><i class="fa fa-envelope"></i
                    ></span>
                    <span class="icon is-small is-right" v-if="emailError"
                        ><i class="fas fa-exclamation-triangle"></i
                    ></span>
                </div>
                <p class="help is-danger" v-if="emailError">{{ emailError }}</p>
            </div>
            <div class="field">
                <label class="label" for="password">Password</label>
                <div class="control has-icons-left has-icons-right">
                    <input
                        class="input"
                        id="password"
                        type="password"
                        placeholder="*******"
                        name="password"
                        required="required"
                        autocomplete="current-password"
                        :class="{ 'is-danger': passwordError }"
                    /><span class="icon is-small is-left"
                        ><i class="fa fa-lock"></i
                    ></span>
                    <span class="icon is-small is-right" v-if="passwordError">
                        <i class="fas fa-exclamation-triangle"></i>
                    </span>
                </div>
                <p class="help is-danger" v-if="passwordError">
                    {{ passwordError }}
                </p>
            </div>
            <div class="field">
                <label class="checkbox" for="remember"
                    ><input
                        type="checkbox"
                        name="remember"
                        id="remember"
                        :checked="remember"
                    />Remember me</label
                >
            </div>
        </header>
        <div class="flex justify-between items-end px-4 py-2">
            <a
                class="text-gray-600 hover:text-gray-800"
                :href="passwordRequest"
                v-if="passwordRequest"
                >Forgot Your Password?</a
            >
            <button
                class="bg-white text-gray-800 font-bold rounded border-b-2 border-green-500 hover:border-green-600 hover:bg-green-500 hover:text-white shadow-md py-1 px-4 inline-flex items-center"
                type="submit"
            >
                <span class="">Login</span>
            </button>
        </div>
        <input hidden="" name="_token" :value="csrfToken" />
    </form>
</template>

<script lang="ts">
import { Component, Prop, Vue, PropSync } from "vue-property-decorator";

@Component
export default class LogIn extends Vue {
    @Prop() private csrfToken!: string;
    @Prop() private action!: string;
    @Prop() private email!: string;
    @Prop() private emailError!: string;
    @Prop() private passwordError!: string;
    @Prop() private remember!: boolean;
    @Prop() private passwordRequest!: string;
}
</script>

<style lang="scss"></style>
