<template>
    <app-message color="blue-700">
        <pre class="text-gray-700 bg-white">{{
            JSON.stringify(JSON.parse(json), null, 2)
        }}</pre>
    </app-message>
</template>

<script lang="ts">
import { Component, Prop, Vue, PropSync } from "vue-property-decorator";

@Component
export default class LogJson extends Vue {
    @Prop() private json!: string;
}
</script>

<style lang="scss"></style>
