<template>
    <form
        class="mb-4 bg-gray-200 border border-gray-400 shadow-md rounded overflow-hidden"
        :action="action"
        method="POST"
    >
        <header class="bg-white p-4 border-b border-gray-300 shadow-sm">
            <div class="field">
                <label class="label">Name</label>
            </div>
            <div class="field is-horizontal">
                <div class="field-body">
                    <div class="field">
                        <p class="control is-expanded">
                            <input
                                class="input"
                                id="first_name"
                                type="text"
                                name="first_name"
                                required
                                autocomplete="given-name"
                                autofocus
                                placeholder="First name"
                            />
                        </p>
                    </div>
                    <div class="field">
                        <p class="control is-expanded">
                            <input
                                class="input"
                                id="last_name"
                                type="text"
                                name="last_name"
                                required
                                autocomplete="family-name"
                                placeholder="Last name"
                            />
                        </p>
                    </div>
                </div>
            </div>

            <div class="field">
                <label class="label">Phone number</label>
                <div class="control has-icons-left">
                    <input
                        class="input"
                        id="phone_number"
                        type="text"
                        name="phone_number"
                        required
                        autocomplete="tel"
                        placeholder="Where companies can contact you"
                    />
                    <span class="icon is-small is-left">
                        <i class="fas fa-mobile"></i>
                    </span>
                </div>
            </div>

            <div class="field">
                <label class="label">Profession</label>
                <p class="control">
                    <input
                        class="input"
                        id="profession"
                        type="text"
                        name="profession"
                        placeholder="Your occupation founded upon specialized educational training"
                    />
                </p>
            </div>

            <div class="field">
                <label class="label" for="email">Email</label>
                <div class="control has-icons-left has-icons-right">
                    <input
                        class="input"
                        id="email"
                        type="email"
                        name="email"
                        required
                        autocomplete="email"
                        placeholder="name@email.com"
                        :class="{ 'is-danger': emailError }"
                        :value="email"
                    /><span class="icon is-small is-left"
                        ><i class="fa fa-envelope"></i
                    ></span>
                    <span class="icon is-small is-right" v-if="emailError"
                        ><i class="fas fa-exclamation-triangle"></i
                    ></span>
                </div>
                <p class="help is-danger" v-if="emailError">{{ emailError }}</p>
            </div>
            <div class="field">
                <label class="label" for="password">Password</label>
                <div class="control has-icons-left has-icons-right">
                    <input
                        class="input"
                        id="password"
                        type="password"
                        name="password"
                        required
                        autocomplete="new-password"
                        placeholder="*******"
                        :class="{ 'is-danger': passwordError }"
                    /><span class="icon is-small is-left"
                        ><i class="fa fa-lock"></i
                    ></span>
                    <span class="icon is-small is-right" v-if="passwordError">
                        <i class="fas fa-exclamation-triangle"></i>
                    </span>
                </div>
                <p class="help is-danger" v-if="passwordError">
                    {{ passwordError }}
                </p>
            </div>
            <div class="field">
                <label class="label" for="password">Confirm Password</label>
                <div class="control has-icons-left has-icons-right">
                    <input
                        class="input"
                        id="password-confirm"
                        type="password"
                        name="password_confirmation"
                        required
                        autocomplete="new-password"
                        placeholder="*******"
                    /><span class="icon is-small is-left"
                        ><i class="fa fa-lock"></i
                    ></span>
                </div>
            </div>
        </header>
        <div class="flex justify-end items-end px-4 py-2">
            <button
                class="bg-white text-gray-800 font-bold rounded border-b-2 border-green-500 hover:border-green-600 hover:bg-green-500 hover:text-white shadow-md py-1 px-4 inline-flex items-center"
                type="submit"
            >
                <span class="">Register</span>
            </button>
        </div>
        <input hidden="" name="_token" :value="csrfToken" />
    </form>
</template>

<script lang="ts">
import { Component, Prop, Vue, PropSync } from "vue-property-decorator";

@Component
export default class SignUp extends Vue {
    @Prop() private csrfToken!: string;
    @Prop() private action!: string;
    @Prop() private email!: string;
    @Prop() private emailError!: string;
    @Prop() private passwordError!: string;
}
</script>

<style lang="scss"></style>
